.custom-button[name="email"] {
  background-color: black;
  color: white;
  border: 1px solid black;
  min-width: 165px;
  width: auto;
  height: 50px;
  // letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  border-radius: 7px;
  transition: 300ms ease all;
  // text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.custom-button[name="google"] {
  background-color: #4285f4;
  color: white;
  border: 1px solid #4285f4;
  min-width: 165px;
  width: auto;
  height: 50px;
  // letter-spacing: 0.5px;

  line-height: 50px;

  font-size: 15px;
  transition: 300ms ease all;
  border-radius: 7px;
  cursor: pointer;
  padding: 0 20px 0 20px;
  // text-transform: uppercase;
  font-weight: bolder;
  transition: 300ms ease all;

  &:hover {
    background-color: #357ae8;
    color: white;
    border: 1px solid #4285f4;
  }
}

.custom-button[name="cart-remove"] {
  min-width: auto;
  width: 50px;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  border-radius: 7px;
  // letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  background-color: black;
  color: white;
  // text-transform: uppercase;
  text-align: center;
  text-align-last: center;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: 300ms ease all;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
