.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
  transition: 300ms ease all;
  border-radius: 5px;

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  .image {
    width: 30%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 5px 7px 10px #24242442;
    align-items: center;

    text-align: center;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
  }
}
